/* General settings */

@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
    font-family: 'Siemreap';
    src: url('../fonts/Siemreap-Regular.ttf');
}

body, html{
    margin: auto;
    padding: 0;
}

body {
    background-color: #fff;
}

.container{
    width: 60%;
    max-width: 1366px;
}

/* Navigation bar */

header{
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 100%;
    z-index: 1;
}
nav{
    margin: 20px auto;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav div{
    display: flex;
    justify-content: space-between;
}
#brandLogo img{
    height: 45px; 
}
#menu{
    margin: 0;
    padding: 0 0.5em;
    list-style-type: none;
    display: block;
    height: 100%;
}
.menuItem{
    display: inline-block;
    margin: 0 0.8em;
}
#menuIcon {
    display: none;
}
.menuLink {
	position: relative;
    display: inline-block;
    padding: 10px 5px;
	outline: none;
	color: #672290;
	text-decoration: none;
    font-size: 1.2em;
    -webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
    transition: color 0.3s;
    font-family: 'Roboto';
}
.menuLink::before,
.menuLink::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #672290;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.menuLink::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.menuLink::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.menuLink:hover::before,
.menuLink:focus::before,
.menuLink:hover::after,
.menuLink:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Start */

#start{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1366px;
    height: 500px;
    background-image: url('../images/white_desk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}

/* RWD */

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    nav{
      flex-direction: column;
    }
    nav div{
      width: 100%;
    }
    #brandLogo{
      display: block;
    }
    #menu{
      display: none;
    }
    .menuItem{
    display: block;
    text-align: center;
    margin: 1.8em 0;
    }
    /* @media (orientation: landscape){
      .menuItem{
        margin: 1.8em 0;
      }
    } */
    #menuIcon{
      display: inline-block;
    }
 }