/* General settings */

@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

@font-face {
    font-family: 'Siemreap';
    src: url('../fonts/Siemreap-Regular.ttf');
}

body, html{
    margin: auto;
    padding: 0;
}

body {
    background-color: #fff;
}

.container{
    width: 70%;
    max-width: 1920px;
}
.w-50{
    width: 50%;
}

.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex{
    flex: 1;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items: center;
}
.violet{
    color: #672290;
}
.violet-bg{
    background-color: #672290;
}
.white{
    color: #fff;
}

/* Navigation bar */

header{
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
}
nav{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{
    display: flex;
    justify-content: space-between;
}
#brand-logo img{
    height: 45px; 
}
#menu{
    margin: 0;
    padding: 0 0.5em;
    list-style-type: none;
    display: block;
    height: 100%;
}
.menu-item{
    display: inline-block;
    margin: 0 0.8em;
}
#menuIcon {
    display: none;
}
.menu-link {
	position: relative;
    display: inline-block;
    padding: 10px 5px;
	outline: none;
	color: #672290;
	text-decoration: none;
    font-size: 1.2em;
    -webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
    transition: color 0.3s;
    font-family: 'Roboto';
}
.menu-link::before,
.menu-link::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #672290;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.menu-link::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.menu-link::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.menu-link:hover::before,
.menu-link:focus::before,
.menu-link:hover::after,
.menu-link:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Start */

#start{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1920px;
    height: 750px;
    background-image: url('../images/white_desk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.title{
    /* text-align: center; */
    font-family: 'Public Sans';
    text-transform: uppercase;
    font-size: 2.2em;
    padding: 0;
    margin: 0;
    /* text-shadow: 0px 5px 16px rgba(0, 0, 0, 0.4); */
    text-shadow: 0px 5px 16px #68229088;
}
.subtitle{
    /* text-align: center; */
    font-family: 'Roboto';
    color: #000;
    font-size: 1.3em;
    margin-top: 0.7em;
}

/* About */

#about{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1920px;
    padding-top: 72px;
}
.description{
    font-family: 'Roboto';
    font-size: 1.2em;
}
.description p:first-of-type{
    margin-top: 0;
}
#portrait{
    float: right;
    padding-left: 50px;
    width: 40%;
}
.parallelogram{
    width: 300px;
    transform: skew(20deg);
    background: #672290;
    padding: 10px 0px;
    margin-bottom: 80px;
}
.parallelogram span{
    transform: skew(-20deg);
}

/* Offer */

#offer{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1920px;
    padding-top: 72px;
}
.offer-title{
    font-family: 'Public Sans';
    font-size: 1.6em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    font-weight: normal;
    text-align: center;
}
.offer-icon{
    height: 150px;
    width: auto;
    margin: auto;
}
.offer-list{
    list-style: none;
    padding: 0;
    font-size: 1.2em;
    font-family: 'Roboto'
}

.offer-list li{
    font-size: 20px;
    margin-left: 0;
    padding-left: 10;
}

/* Back to top */

#top-icon{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 80px;
    opacity: 0;
}

/* Certificates */

#certificates{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1920px;
    padding-top: 72px;
}
.certificate{
    display: inline-block;
    overflow: hidden;
    width: 33.33%;
}
.certificateImage{
    display: flex;
    justify-content: center;
    width: 100%;
    transition: transform 100ms ease-in-out;
}
.carousel {
    position: relative;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
}
.arrow{
    z-index: 1;
    top: calc(50% - 25px);
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 50px;
    background-image: url('../images/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
}
#previousCertificate{
    right: 8px;
    transition: all .1s ease-in-out;
}
#previousCertificate:active{
    right: 2px;
    transform: scale(1.2);
    transition: all .1s ease-in-out;
}
#nextCertificate{
    left: 8px;
    transform: scaleX(-1);
    transition: all .1s ease-in-out;
}
#nextCertificate:active{
    left: 2px;
    transform: scaleX(-1.2) scaleY(1.2);
    transition: all .1s ease-in-out;
}

/* RWD */

@media screen and (max-width: 1366px) {
    .container{
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    nav{
      flex-direction: column;
    }
    nav div{
      width: 100%;
    }
    #brand-logo{
      display: block;
    }
    #menu{
      display: none;
    }
    .menu-item{
        display: block;
        text-align: center;
        margin: 1.8em 0;
    }
    /* @media (orientation: landscape){
      .menu-item{
        margin: 1.8em 0;
      }
    } */
    #menuIcon{
      display: inline-block;
    }
 }