/* General settings */


@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');


.font-lexend-deca{
    font-family: 'Lexend Deca';
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1920px;
}

.nav-link{
    position: relative;
    color: #672290;
}
.nav-link:hover{
    color: #521d70;
}

.nav-link::before,
.nav-link::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background: #672290;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.nav-link::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.nav-link::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.nav-link:hover::before,
.nav-link:focus::before,
.nav-link:hover::after,
.nav-link:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active{
    outline: 2px solid #672290;
}

.jumbotron{
    max-height: 758px;
}
 
.jumbotron h1{
    font-family: "Teko";
}

.jumbotron h1 span{
    color: #672290;
}

.jumbotron p{
    font-family: "Assistant";
}

.jumbotron-image {
    background-image: url("../images/white_desk.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}